# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# pytest cache
.pytest_cache/

# IDE/editor files
.vscode/
.idea/
*.swp

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Distribution/build
build/
dist/
*.egg-info/

# Environment variable files
.env
